body {
  font-family: Arial;
}

input, select, textarea {
  margin: 5px;
  padding: 5px;
  width: 250px;
}

button {
  padding: 8px 12px;
  background-color: green;
  color: white;
  border: none;
}

h1 {
  color: darkblue;
}